<h1>Dev Status: <%=status%>% <span class="pull-right">QA Status: <%=qa%>%</span></h1>
<br>
<h1>Team Standing</h1>
<table class="table table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Done</th>
			<th>Points</th>
			<th>Count</th>
		</tr>
	</thead>
	<tbody>
	<% for (var t in team) { %>
		<tr>
			<td><%=t%></td>
			<td><% if (team[t].total > 0) print(Math.ceil(team[t].done*100/team[t].total) + "%"); %></td>
			<td><%=team[t].total%></td>
			<td><%=team[t].count%></td>
		</tr>
	<% } %>
	</tbody>
</table>

<div>
	<a class="btn btn-small pull-right" id="download-csv">Download</a>
</div>