<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<h2>Overview</h2>
		<p>Pivotal Reports simply provides the complete content of a project in a tabular format to enable generation of reports using external tools such as Excel/Numbers.</p>
		<p>Some of the main features of the export includes:
			<ul>
				<li>Conversion of member ids to member names</li>
				<li>Month and week columns for pivot creation</li>
				<li>Support for custom fields by adding <code>^ColumnName: Value</code> as separate lines in story description. Eg. <code>^Done: 70%</code>
					<ul>
						<li><code>Done</code> is a special custom field. It's value is set to 0 or 100 depending on the current state of the story</li>
					</ul>
				</li>
				<li>Special labels <code>release-NUM</code> or <code>sprint-NUM</code> that create columns named release/sprint. Eg. <code>release-1.12</code> will add a column named `release` with value `1.12` for that story.</li>
				<li>Adds epic name column to enable grouping stories by its epic
			</ul>
		</p>
		<p><br/>
			<a href="#token" class="btn btn-large btn-block btn-info" id="btn-start">Continue</a>
		</p>
	</div>
	<div class="col-lg-2"></div>
</div>
<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4"></div>
</div>