<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<h2>Overview</h2>
		<p>Pivotal Sprint Tracker provides greater visibility into Sprints that are managed using Pivotal Tracker</p>
		<p>Conventions:
			<ul>
				<li>Each sprint is grouped by a single label/epic so that it can pulled in a search</li>
				<li><code>Done</code> is a special custom field. It's value is set to 0 or 100 depending on the current state of the story. To set a value for <code>done</code> add <code>^done=40%</code> say, on a new line in the description of the story</li>
			</ul>
		</p>
		<p><br/>
			<a href="#token" class="btn btn-large btn-block btn-info" id="btn-start">Continue</a>
		</p>
	</div>
	<div class="col-lg-2"></div>
</div>
<div class="row">
	<div class="col-lg-4"></div>
	<div class="col-lg-4">
	</div>
	<div class="col-lg-4"></div>
</div>